.container-externo {
  padding: 0;

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;

  justify-self: flex-start;
  align-self: flex-start;
}

#basic-navbar-nav {
  justify-content: flex-end;
}
